body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1f2937;
    font-family: monospace;
}


.Hero{
    font-weight: bold;
}

ul{
    display: flex;
    gap: 2em;
    list-style: none;
    font-size: 18px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f9faf8;
    gap: 28em;
    margin-bottom: 10em;
}

.header .Hero{
    font-size: 24px;
    color: #f9faf8;
}

.row2 .Hero{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8; 
}

.row3 .Hero{
    font-size: 38px;
    font-weight: bold;
    color: #1f2937;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

.imagePlaceholder{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 18px;
    color: #e5e7eb;
    height: 20em;
    padding: 0 7em;
}

.left{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: flex-start;
    width: 40em;
}

.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10em;
}

button{
    font-weight: bold;
    background-color: #3882f6;
    border-color: #3882f6;
    border-radius: 1em;
    padding: 10px 3em;
    color: #e5e7eb;
}

.row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 7em;
    gap: 3em;
    flex-grow: 1;
}

.row3 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 1;
    flex-basis: 18em;
}

.boxImage{
    border: #3882f6 solid;
    border-radius: 2em;
    height: 200px;
}

.box p{
    color: #1f2937;
}

.row4{
    display: flex;
    background-color: #e5e7eb;
}

.row4 .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80em;
    margin: 0 auto;
    padding: 7em;
}

.quote{
    text-align: end;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoteSource{
    color: #1f2937;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1em;
}

.row5{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

.row5 .container{
    background-color: #3882f6;
    display: flex;
    gap: 10em;
    padding: 3em 6em;
    border-radius: .5em;
}

.conLeft{
    color: white;
}

.conLeft .Hero{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.button2{
    border:#f9faf8 solid;
}

.footer{
    font-size: 15px;
    margin: 0 auto;
    color: white;
    padding: 4em;
}
